Flask
flask-cors
gunicorn
python-dotenv

pandas
numpy
scikit-learn
scipy
joblib

plotly
matplotlib
seaborn

faiss-cpu
sentence-transformers

langchain
langchain-community
langchain-huggingface

google-generativeai

xgboost
catboost

nltk
spacy
textblob
wordcloud

ydata-profiling

openpyxl
requests
Werkzeug