Flask
langchain
langchain-community
langchain-core
langchain-huggingface
faiss-cpu
sentence-transformers
transformers
huggingface-hub
torch
pandas
numpy
openpyxl
requests
python-dotenv
scikit-learn
pypdf
matplotlib
joblib
plotly
seaborn
ydata_profiling